<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-xxl">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-solid-danger alert-dismissible d-flex align-items-center" role="alert">
                @ViewBag.Error
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @* table show list category and delete and edit *@
        <div class="card mb-4 ">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">لیست درخواست ها</h5>
                <small class="text-muted float-end primary-font">تعداد کل درخواست ها : @ViewBag.allCount</small>
            </div>
            <div class="card-body">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">نام و نام خانوادگی</th>
                            <th scope="col">کد ملی</th>
                            <th scope="col">تلفن</th>
                            <th scope="col">شغل</th>
                            <th scope="col">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.Users != null)
                        {
                            int i = 1 + ((ViewBag.page - 1) * 10);
                            foreach (var item in ViewBag.Users)
                            {
                                <tr>
                                    <td scope="row">@i</td>
                                    <td>
                                        @item.FirstName @item.LastName
                                    </td>
                                    <td>@item.CodeMeli</td>
                                    <td>@item.phone</td>
                                    <td>@item.wishedJob</td>
                                    <td>
                                        <a href="/admin/Home/Show/@item.Id" class="btn btn-primary">مشاهده</a>
                                        <a href="/admin/Home/Remove/@item.Id" class="btn btn-danger"
                                            onclick="return confirm('آیا از حذف درخواست مطمئن هستید ؟')">حذف</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        @if (ViewBag.page - 2 > 0)

                        {
                            <li class="page-item first">
                                <a class="page-link" href="/home/index/1"><i class="tf-icon bx bx-chevrons-left"></i></a>
                            </li>
                        }
                        @if (ViewBag.page - 1 != 0)

                        {
                            <li class="page-item prev">
                                <a class="page-link" href="/home/index/@(ViewBag.page-1)"><i
                                        class="tf-icon bx bx-chevron-left"></i></a>
                            </li>
                        }
                        @if (ViewBag.page - 2 > 0)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/home/index/@(ViewBag.page-2)">@(ViewBag.page - 2)</a>
                            </li>
                        }
                        @if (ViewBag.page - 1 > 0)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/home/index/@(ViewBag.page-1)">@(ViewBag.page -
                                1)</a>
                            </li>
                        }
                        <li class="page-item active">
                            <a class="page-link" href="/home/index/@ViewBag.page">@ViewBag.page</a>
                        </li>
                        @if (ViewBag.page + 1 <= ViewBag.Count)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/home/index/@(ViewBag.page+1)">@(ViewBag.page +
                                1)</a>
                            </li>
                        }
                        @if (ViewBag.page + 1 < ViewBag.Count)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/home/index/@(ViewBag.page+2)">@(ViewBag.page + 2)</a>
                            </li>
                        }
                        @if (ViewBag.page + 1 <= ViewBag.Count)
                        {
                            <li class="page-item next">
                                <a class="page-link" href="/home/index/@(ViewBag.page+1)"><i
                                        class="tf-icon bx bx-chevron-right"></i></a>
                            </li>
                        }
                        @if (ViewBag.page + 1 < ViewBag.Count)
                        {
                            <li class="page-item last">
                                <a class="page-link" href="/home/index/@ViewBag.Count"><i
                                        class="tf-icon bx bx-chevrons-right"></i></a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>